⚠️如果本地 有定义组建selector 名字叫form 那下面 form标签优先 寻找本地的
然后再是引入的这个基本form 注意⚠️

<form nz-form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <nz-form-item>
    <nz-form-label nzSpan="4" nzRequired>First Name</nz-form-label>
    <nz-form-control nzSpan="10" nzErrorTip="Please input your username!">
      <input nz-input type="text" formControlName="firstName" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzSpan="4" nzRequired>Last Name</nz-form-label>
    <nz-form-control nzSpan="10">
      <input type="text" formControlName="lastName" required />
    </nz-form-control>
  </nz-form-item>

  <div formGroupName="address" class="borderPink">
    <h3>Address 嵌套表单</h3>

    <label>
      Street:
      <input type="text" formControlName="street" />
    </label>

    <label>
      City:
      <input type="text" formControlName="city" />
    </label>

    <label>
      State:
      <input type="text" formControlName="state" />
    </label>

    <label>
      Zip Code:
      <input type="text" formControlName="zip" />
    </label>
  </div>

  <div formArrayName="aliases" class="borderPink">
    <h3>表单数组FormArray Aliases 绰号</h3>
    <button (click)="addAlias()">Add Alias</button>

    <div *ngFor="let alias of aliases.controls; let i = index">
      <!-- The repeated alias template -->
      <label>
        Alias:
        <input type="text" [formControlName]="i" />
      </label>
    </div>
  </div>

  <div class="textCenter">
    <button type="submit" [disabled]="!profileForm.valid">Submit</button>
  </div>
</form>

<hr />

<p>Form Value: {{ profileForm.value | json }}</p>

<p>Form Status: {{ profileForm.status }}</p>

<p nzFlex>
  <button (click)="updateProfile()">Update Profile</button>
</p>
