<h1>让图片围绕文字的方法 1 2</h1>

<div>
  <img
    width="100px"
    height="100px"
    align="right"
    src="../../../assets/baby.png"
  />

  环氧组建 欢迎组建页面welcom2111111111111111111，文字环绕图片，文字环绕图片
  环氧组建 欢迎组建页面welcom2111111111111111111，文字环绕图片，文字环绕图片
  环氧组建 欢迎组建页面welcom2111111111111111111，文字环绕图片，文字环绕图片
  环氧组建 欢迎组建页面welcom2111111111111111111，文字环绕图片，文字环绕图片
  环氧组建 欢迎组建页面welcom2111111111111111111，文字环绕图片，文字环绕图片
</div>

<div style="height: 100px;background-color: pink;">
  000000000000000000elcom2222222222222222---------------------------------------------------------------
</div>
<div>
  <img
    class="img2"
    width="100px"
    height="100px"
    src="../../../assets/baby.png"
  />

  环氧组建 欢迎组建页面welcom2111111111111111111，文字环绕图片，文字环绕图片
  环氧组建 欢迎组建页面welcom2111111111111111111，文字环绕图片，文字环绕图片
  环氧组建 欢迎组建页面welcom2111111111111111111，文字环绕图片，文字环绕图片
  环氧组建 欢迎组建页面welcom2111111111111111111，文字环绕图片，文字环绕图片
  环氧组建 欢迎组建页面welcom2111111111111111111，文字环绕图片，文字环绕图片
</div>

<h1 class="marginTop">数组去重</h1>
<div class="marginTop">
  <h1>数组降维</h1>
</div>

<h6>
  参考链接--
  https://www.nodejs.red/#/javascript/base?id=%E6%95%B0%E7%BB%84%E5%8E%BB%E9%87%8D%E7%9A%84%E4%B8%89%E7%A7%8D%E5%AE%9E%E7%8E%B0%E6%96%B9%E5%BC%8F
</h6>
